{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Entry
{% endblock %}

{% block body %}
<form action="{% url 'encyclopedia:newentry' %}" method="POST">
    {% csrf_token %}
    <div class="form-group col-3">
        <label for="entry_title">Entry title</label>
        <input type="text" class="form-control" id="entry_title" name="title" placeholder="New entry title">
    </div>
    <div class="form-group col-9">
        <label for="new_entry_textarea">Entry content</label>
        <textarea class="form-control" id="new_entry_textarea" name="content" rows="5"></textarea>
    </div>
    <button style="margin-top: 5px; margin-left: 15px;" type="submit" class="btn btn-secondary">Save entry</button>
</form>

{% endblock %}